@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-items {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 2rem;
  padding-top: 100px;

  @media screen and (max-width: 1300px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (max-width: 966px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.appgrid {
  grid-template-columns: auto 1fr;
  height: 100vh;
  overflow: hidden;
}
